



ul{
    list-style:none
}
button{
    background-color:#7C99AC ;
    color: #fff;
    width: 70%;
    height: 30px;
    border: none;
    margin: 10px 0;
    font-size: 3px;
    
}


img{
    height: 50%;
    width: 80%;
    
        border:1px solid #7F7F86;
    
    }





h1{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 30px;
}

h2{
    text-align: center;
    font-size: 10px;
    color:#7F7F86;
}

.r_list div{
    width: 50%;
    
    
}

.r_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}