.top_main_img {
	margin-bottom: 20px;
}
.top_main_img img {
	width: 280px;
}
button {
	background-color: #92A9BD;
	color: #FFFFFF;
	width: 250px;
	height: 50px;
	border: none;
	border-radius: 10px;
	margin-bottom: 20px;
}

