.main_box {
	width: 375px;
	height: 370px;
	border:1px solid #1c1d1e;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px;
	margin-bottom: 50px;
}
.top_main_img {
	margin-bottom: 20px;
}
.top_main_img img {
	width: 280px;
}
.top_btn {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	background-color: #92A9BD;
	color: #FFFFFF;
	width: 210px;
	height: 50px;
	border: none;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-left: 5px;
	font-size: 16px;
	line-height: 3;
}

