<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/base.css" />
    {% block link %} {% endblock %}
</head>
    <script src="../static/js/jquery-3.6.0.js"></script>
	<script src="../static/js/commons.js"></script>
    <script src="https://kit.fontawesome.com/c04dd7d86b.js" crossorigin="anonymous"></script>

<body>

    <header>
		<div class="header_logo"><img src="../static/img/アプリメインアイコン.svg" alt="icon"></div>
        <div class="hum_menu">
			<a href="javascript:void(0);">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
		<!-- ここまでハンバーガーメニュー -->
    </header>

    <div class="m_menu">
       <nav> <ul>
            <li>会員登録</li>
            <li>ログイン</li>
            <li>ホーム</li><li>
                手放すリスト

            </li>
            <li>ログアウト</li>
        </ul>
    </nav>
    </div>
    {% block content %}


    {% endblock %}
</body>
</html>

