<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="サイトの説明文">
    <title>タスク管理アプリ</title>
    <script src="../static/js/jquery-3.6.0.js"></script>
    <script src="../static/js/home.js"></script>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class="category_select">
        <select name="month">
            <option value="jan">フィルター</option>
            <option value="feb">2月</option>
            <option value="mar">3月</option>
            <option value="apr">4月</option>
            <option value="may">5月</option>
            <option value="jun">6月</option>
            <option value="jul">7月</option>
            <option value="aug">8月</option>
            <option value="sep">9月</option>
            <option value="oct">10月</option>
            <option value="nov">11月</option>
            <option value="dec">12月</option>
            </select>
       

            <i class="fa-brands fa-twitter-square"></i>
        <a class="twitter-share-button"
        href="https://twitter.com/intent/tweet?text=総アイテム数は◎個です">
      Tweet</a></div>


        <main class="container">
            <h1>総アイテム数  85/200
            </h1>

    
            <ul class="horizontal-items">
                <h3></h3>
                <li class="item">
                    <div>
                        
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物2">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物3">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物4">
                        <h2>アイテム1</h2>
                        <
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物5">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
              </ul>

              <ul class="horizontal-items">
                <li class="item">
                    <div>
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物2">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物3">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物4">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                       
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物5">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
              </ul>

              <ul class="horizontal-items">
                <li class="item">
                    <div>
                        <h2>アイテム1</h2>
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <h2>アイテム2</h2>
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物2">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <h2>アイテム3</h2>
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物3">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <h2>アイテム4</h2>
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物4">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <h2>アイテム5</h2>
                        <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物5">
                        <h2>アイテム1</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
              </ul>
        </main>
    

    {% block content % }

    {% endblock %}
    
    <footer>
        
    </footer>
</body>
</html>