{% extends 'base.html' %}
{% block content%}
{% block link %} 
<head> <script src="../static/js/jquery-3.6.0.js"></script>
    <script src="../static/js/home.js"></script>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></head>{% endblock %}
    <div class="category_select">
        <select name="month">
            <option value="jan">フィルター</option>
            <option value="feb">ファッション</option>
            <option value="mar">家具・家電</option>
            <option value="apr">美容品</option>
            <option value="may">その他</option>
            
            </select>
       
            <i class="fa-brands fa-twitter-square"
        
        href="https://twitter.com/intent/tweet?text=総アイテム数は◎個です">
      </i></div>
        <main class="container">
            <h1>総アイテム数  85/200
            </h1>
            <h3>ファッション</h3><h4>アイテム数　30</h4>
            <ul class="horizontal-items">
               
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物2">
                        <h2>シャツ</h2>
                        
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/白ニット.jpeg" alt="白ニット">
                        <h2>トップス</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/DSC_1556.jpg" alt="動物3">
                        <h2>ニット</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/item_674347_l.jpg" alt="動物4">
                        <h2>ワンピース</h2>
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/ダウンロード.jpg" alt="動物5">
                        <h2>トップス</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
              </ul>
              <h3>家具・家電</h3><h4>アイテム数 15</h4>
              <ul class="horizontal-items">
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/607fe92c2c755-500x500.jpg" alt="動物">
                        <h2>電子レンジ</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/00-top3_l.jpg" alt="動物2">
                        <h2>冷蔵庫</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/5e58c0012f066-500x490.jpg" alt="動物3">
                        <h2>炊飯器</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/31JPMk9+RuL._SL500_.jpg" alt="動物4">
                        <h2>スチーマー</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/31SJs6Y5bDL._AC_.jpg.webp" alt="動物5">
                        <h2>浄水器</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
              </ul>
              
              <h3>　美容品　</h3><h4>アイテム数 30</h4>
              <ul class="horizontal-items">
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/JQIZ_KIMONO_RIN_cutout-2.jpg" alt="動物">
                        <h2>香水</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/deffd03e1a9e17864a39c17f706c69cb.jpg" alt="動物2">
                        <h2>チーク</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic"src="../static/img/cosme_top20_1.jpg" alt="動物3">
                        <h2>アイシャドウ</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/400_400_peripera01.jpg" alt="動物4">
                        <h2>ティントリップ</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/20210419172024_0.webp" alt="動物5">
                        <h2>リップ</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
              </ul>
              <h3>　その他　</h3><h4>アイテム数 10</h4>
              <ul class="horizontal-items">
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/350061231230_l.jpg" alt="動物">
                        <h2>スープ椀</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/4550344098448_1260.webp" alt="動物2">
                        <h2>ハンガー</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/Chinese_vase.jpg" alt="動物3">
                        <h2>花瓶</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic" src="../static/img/CR-1116_031.jpg" alt="動物4">
                        <h2>クッション</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <i class="fa-solid fa-ellipsis"></i><br>
                        <img class="img_pic"src="../static/img/202002201411237526.jpg" alt="動物5">
                        <h2>ラグ</h2>
                        
                        <button>手放すリストに追加</button>
                    </div>
                </li>
              </ul>
        </main>
    
    
    {% endblock %}
    