{% extends 'base.html' %}

{% block content%}


{% block link %}<link rel="stylesheet" href="../static/css/image_upload.css" />{% endblock %}


<p>アイテムの画像をアップロードして下さい</p>

<a href="/main_upload">
	<button type="button">＋</button>
</a>

<div class="footer_fix_btn">
	<a href="../templates/home.html"><i class="fa fa-fw solid fa-house"></i></a>
	<a href="../templates/main_upload.html"><i class="fa fa-fw solid fa-square-plus"></i></a>
	<a href="../templates/release.html"><i class="fa fa-fw solid fa-trash-can"></i></a>
</div>

{% endblock %}

