{% extends 'base.html' %}

{% block content%}


{% block link %}<link rel="stylesheet" href="../static/css/image_upload.css" />{% endblock %}


<p>アイテムの画像をアップロードして下さい</p>

<img src="/static/img/" alt="" class="prof_img">
<form action="/image_upload" method="post" enctype="multipart/form-data">
	<label class="image_select_button" for="file">
		<p>+</p>
	</label>
	<input  class="file_input" type="file" name="upload" id="file"></br>
	<input class="upload_btn" type="submit" value="画像アップロード"></br>
</form>

<div class="footer_fix_btn">
	<a href="../templates/home.html"><i class="fa fa-fw solid fa-house"></i></a>
	<a href="../templates/main_upload.html"><i class="fa fa-fw solid fa-square-plus"></i></a>
	<a href="../templates/release.html"><i class="fa fa-fw solid fa-trash-can"></i></a>
</div>

{% endblock %}

