{% extends 'base.html' %}

{% block content%}

{% block link %}<link rel="stylesheet" href="../static/css/login.css" />{% endblock %}

<div class="title">ログイン</div>

<img src="../static/img/アプリメインアイコン.svg" alt="">

<form action="/login" method="post">
    <div>
			<input class="form_box" type="text" name="mail" maxlength="100" placeholder="メールアドレス">
		</div>
		<div>
			<input class="form_box" type="password" name="password" maxlength="100" placeholder="パスワード">
		</div>
		<input class="login_btn" type="submit" name="save" value="ログイン">
</form>

{% endblock %}

