{% extends 'base.html' %}

{% block content%}

{% block link %} <link rel="stylesheet" href="../static/css/release.css">

    


<h1>手放すリスト</h1>

<section>
    <nav>
        <div>
            
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物">
            <br>
            <button>手放す</button>
        </div>
    
    
        <div>
           
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物2">
            <br>
            <button>手放す</button>
        </div>
   
        <div>
            
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物3">
            <br>
            <button>手放す</button>
        </div>
    
        <div>
            
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物4">
            <br>
            <button>手放す</button>
        </div>
    
    
        <div>
            
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物5">
            <br>
            <button>手放す</button>
        </div>
    
 

  
 
        <div>
            
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物">
            <br>
            <button>手放す</button>
        </div>
   
    </nav>
</section>


{% endblock %}