<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/release.css">
    <title>Document</title>

</head>
<body>
    


<h1>手放すリスト</h1>

<section>
    <nav>
        <div>
            <h2>アイテム1</h2>
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物">
            <br>
            <button>手放す</button>
        </div>
    
    
        <div>
            <h2>アイテム2</h2>
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物2">
            <br>
            <button>手放す</button>
        </div>
   
        <div>
            <h2>アイテム3</h2>
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物3">
            <br>
            <button>手放す</button>
        </div>
    
        <div>
            <h2>アイテム4</h2>
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物4">
            <br>
            <button>手放す</button>
        </div>
    
    
        <div>
            <h2>アイテム5</h2>
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物5">
            <br>
            <button>手放す</button>
        </div>
    
 

  
 
        <div>
            <h2>アイテム1</h2>
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物">
            <br>
            <button>手放す</button>
        </div>
   
    </nav>
</section>
</body>
</html>