{% extends 'base.html' %}

{% block content%}

{% block link %}
<head><link rel="stylesheet" href="../static/css/release.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></head> {% endblock %}

    


<h1>手放すリスト</h1>


    <div class="r_list">
        <div>
            
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物">
            <br>
            <button>手放す <i class="fa-solid fa-trash-can"></i></button>
        </div>
             
    
        <div>
           
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物2">
            <br>
            <button>手放す <i class="fa-solid fa-trash-can"></i></button>
        </div>
   
        <div>
            
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物3">
            <br>
            <button>手放す <i class="fa-solid fa-trash-can"></i></button>
        </div>
    
        <div>
            
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物4">
            <br>
            <button>手放す <i class="fa-solid fa-trash-can"></i></button>
        </div>
    
    
        <div>
            
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物5">
            <br>
            <button>手放す <i class="fa-solid fa-trash-can"></i></button>
        </div>
    
 

  
 
        <div>
            
            <img src="../static/img/16292542870007a7e7b6eeeb51ba23868f76457259_thumbnail_600x.webp" alt="動物">
            <br>
            <button>手放す <i class="fa-solid fa-trash-can"></i></button>
        </div>
    
    </div>



{% endblock %}