{% extends 'base.html' %}

{% block content%}


{% block link %}<link rel="stylesheet" href="../static/css/second_top.css" />{% endblock %}

<h1>使い方</h1>

<div class="text">
    <p>1. アップロードしたい画像を選択する</p>
    <p>2. アップロードした画像のアイテム情報を入力する、選択する</p>
    <p>3. 登録ボタンをクリックして完了！</p>
</div>
<div>
<ul class="photo1">
		<li><img src="../static/img/スクリーンショット 2022-02-28 16.58.06.png" alt=""width="80" height="150"></li>
		<p>→</p>
		<li><img src="../static/img/スクリーンショット 2022-02-28 16.59.06.png" alt=""width="80" height="150"></li>
		<p>→</p>
		<li><img src="../static/img/スクリーンショット 2022-03-02 20.02.47.png" alt=""width="80" height="150"></li>
</ul>
</div>

<h2>手放すリストについて</h2>

<div class="text2">
	<p>手放すか迷ってるアイテムをリストに追加</p>
	<p>手放したらリストから削除</p>
</div>

<div class="photo2">
	<ul>
		<li><img src="../static/img/スクリーンショット 2022-03-02 15.39.32.png" alt=""width="80" height="150">

		</li><img src="../static/img/スクリーンショット 2022-03-02 15.39.44.png" alt=""width="80" height="150">
	</ul>
</div>

	<a href ="/image_upload">
		<button type="button">はじめる</button>
	</a>


<div class="footer_fix_btn">
	<a href="../templates/home.html"><i class="fa fa-fw solid fa-house"></i></a>
	<a href="../templates/main_upload.html"><i class="fa fa-fw solid fa-square-plus"></i></a>
	<a href="../templates/release.html"><i class="fa fa-fw solid fa-trash-can"></i></a>
</div>

{% endblock %}

