{% extends 'base.html' %}

{% block content%}

{% block link %}<link rel="stylesheet" href="../static/css/top.css" />{% endblock %}

<div class="main_box">
	<h3>「自分にとって本当に必要なモノ」</h3>
	<div class="top_main_img">
		<img src="../static/img/top_img.svg" alt="top_img">
	</div>
	<div class="msg_box">
		<h3>.MINIMAL</h3>
		<h4>私物を管理し、必要でないものを減らす。</h4>
		<h4>片付けから開放されフリーな時間を増やしませんか</h4>
	</div>
</div>

<div class="top_btn">
	<div class="button">
			<a href="/login">ログイン</a>
	</div>
	<div class="button" >
		<a href="/register">会員登録</a>
	</div>
</div>



{% endblock %}

